.aside
	.section
		%h2 What's this about?
		%p
			This is an attempt at getting me,
			%i Barry Keenan,
			to document things for my own future reference. Those things will mainly be about Ruby, PHP, JavaScript and Web Development.
	
	.section
		= haml :categories, :layout => false
		= haml :feed, :layout => false
		= haml :social, :layout => false