.social
  %h2 Social links:
  - url = @page.nil? ? base_url : url_for(@page)
  - heading = @page.nil? ? @heading : @page.heading
  %script{:charset => "utf-8", :src => "//yandex.st/share/share.js", :type => "text/javascript"}
  .yashare-auto-init{"data-yashareL10n" => "ru", "data-yashareQuickServices" => "yaru,vkontakte,facebook,twitter,lj", "data-yashareType" => "icon"}
